.card-list {
	width: 85vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 20px;
	grid-auto-flow: row;
}

@media (min-width: 991px) {
	.card-list {
		grid-template-columns: repeat(10, minmax(0, 1fr));
	}
}
